.landing {
  &-section {
    background-color: #ffde7d;
    min-height: 100vh;
  }

  &-container {
    display: flex;
    padding: 3rem 0;
  }

  &-content {
    padding: 3rem;
    width: 50%;
  }

  &-title {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: black;
  }

  &-tagline {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: #f6416c;
    text-transform: uppercase;

    &-span {
      @extend .landing-tagline;
      color: black;
      text-transform: none;
      font-weight: 600;
    }
  }

  &-description {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: justify;

    &-container {
      margin-bottom: 5.5rem;
    }
  }

  &-carousel {
    width: 50%;
    padding: 3rem;
  }
}
