.button-main {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
}

.bottom-left {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}

.bottom-right {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}
