.budgeting {
  &-section {
    height: 100vh;
    margin-top: 3rem;
  }

  &-section-container {
    display: flex;
    padding: 3rem;
  }

  &-unactive-component-container {
    text-align: center;
    width: 30rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    overflow: scroll;
    border: 1px solid black;
    border-radius: 2rem;
  }

  &-active-component-container {
    @extend .budgeting-unactive-component-container;
    width: 50rem;
    margin: 0 2rem 0 4rem;
  }

  &-chart-container {
    padding: 0rem 4rem;
  }
}
