.carousel {
  &-caption {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;

    &-item {
      overflow: hidden;
    }

    &-header {
      font-weight: 700;
    }

    &-paragraph {
      text-align: justify;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 0.5rem 2rem;

      a {
        font-size: inherit;
        text-decoration: none;
        color: inherit;

        &:hover {
          color: rgb(225, 225, 225);
        }
      }
    }
  }

  &-image {
    object-fit: cover;
    width: 70rem;
    height: 40rem;

    &-3 {
      @extend .carousel-image;
      object-position: top;
    }
  }
}
