.infographic {
  &-section {
    height: 100vh;
    margin-top: 3rem;
    background-color: #ffde7d;
  }

  &-section-container {
    display: flex;
    padding: 3rem;
  }

  &-sidetab-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    overflow: scroll;
  }

  &-sidetab-card {
    margin-bottom: 3rem;
  }

  &-main-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 4rem;

    &-primary {
      height: 80%;
    }

    &-secondary {
      height: 20%;
    }
  }
}

.tertiary-title {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 2rem;
  transition: 0.5s all;

  &:hover {
    cursor: pointer;
    transform: translateX(2rem);
  }

  &:active,
  &:focus {
    color: grey;
  }
}
