@import "~bootstrap/scss/bootstrap";

.App {
  margin: 3rem 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  background-color: white;
  position: relative;
  overflow: hidden;
}

.secondary-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding-top: 1.5rem;
  font-weight: 900;
}

.align-center {
  text-align: center;
}

.line {
  margin: 4rem auto 8rem auto;
  border-top: 8px dotted black;
  width: 3%;
  position: relative;
  z-index: 10;
}

.line2 {
  margin: 8rem auto 10rem auto;
  border-top: 8px dotted black;
  width: 3%;
}
